{% extends 'base.html' %}
{% load base_tags %}

{% block title %} | Contact{% endblock %}

{% block content %}
	<div class="container">
		
		<!-- Header -->
		{% include 'portfolio/partials/nav_header.html' %}
		
		<!-- Wrapper -->
		<div class="wrapper">
		
			<!-- Started -->
			<div class="section started">
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="started-content">
							{% if messages %}
								{% for message in messages %}
									<div class="alert-contact {{ message.tags }}">
										<span class="ion ion-android-checkmark-circle"></span> {{ message }}
									</div>
								{% endfor %}
							{% endif %}
							<div class="h-title glitch-effect" data-text="Contact">Contact</div>
							<div class="h-subtitle typing-bread">
								<p><a href="{% url 'portfolio:home' %}">Home</a> / <a href="{% url 'portfolio:contact' %}">Contact</a></p>
							</div>
							<span class="typed-bread"></span>
						</div>
					</div>
				</div>
				<a href="#" class="mouse_btn"><span class="ion ion-mouse"></span></a>
			</div>
			
			<!-- Contacts Info -->
			<div class="section contacts">
				<div class="content">
					<div class="title">
						<div class="title_inner">Contacts</div>
					</div>
					<div class="service-items">
						<div class="service-item">
							<div class="icon"><span class="ion ion-android-phone-portrait"></span></div>
							<div class="name">Phone</div>
							<p>
								+ (911) 877 09 20
							</p>
						</div>
						<div class="service-item">
							<div class="icon"><span class="ion ion-email"></span></div>
							<div class="name">Email</div>
							<p>
								<a href="mailto:yasinalipour01@gmail.com">yasinalipour01@gmail.com</a>
							</p>
						</div>
						<div class="service-item">
							<div class="icon"><span class="ion ion-ios-location"></span></div>
							<div class="name">Address</div>
							<p>
								Tehran, Iran
							</p>
						</div>
					</div>
					<div class="contact_form">
						<form id="cform" method="post">
							{% csrf_token %}
							{{ form.as_p }}
							<button type='submit' class="btn fill" data-text="Send Message"/>Send Message</button>
						</form>
					</div>
				</div>
			</div>
		
		</div>
		
		<!-- Footer -->
		{% social_media %}
		
	</div>
{% endblock %}