{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- Basic -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Yasin Alipour {% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	
	<!-- Load Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,300italic,300,100italic,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic' rel='stylesheet'>
	
	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'portfolio/css/glitche-basic.css' %}" />
	<link rel="stylesheet" href="{% static 'portfolio/css/glitche-layout.css' %}" />
	<link rel="stylesheet" href="{% static 'portfolio/css/ionicons.css' %} " />
	<link rel="stylesheet" href="{% static 'portfolio/css/magnific-popup.css' %}" />
	<link rel="stylesheet" href="{% static 'portfolio/css/animate.css' %}" />

	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static 'portflio/images/favicons/favicon.ico' %}">
	
</head>

<body>	
	
	<!-- Preloader -->
	<div class="preloader">
		<div class="centrize full-width">
			<div class="vertical-center">
				<div class="pre-inner">
					<div class="load typing-load"><p>loading...</p></div>
					<span class="typed-load"></span>
				</div>
			</div>
		</div>
	</div>
	
	{% block content %}{% endblock %}
	
	<!-- jQuery Scripts -->
    <script src="{% static 'portfolio/js/jquery.min.js' %}"></script>
	<script src="{% static 'portfolio/js/jquery.validate.js' %}"></script>
	<script src="{% static 'portfolio/js/typed.js' %}"></script>
	<script src="{% static 'portfolio/js/magnific-popup.js' %}"></script>
	<script src="{% static 'portfolio/js/imagesloaded.pkgd.js' %}"></script>
	<script src="{% static 'portfolio/js/isotope.pkgd.js' %}"></script>
	
	<!-- Main Scripts -->
	<script src="{% static 'portfolio/js/glitche-scripts.js' %}"></script>
	
</body>
</html>