<footer>
    <div class="soc">
        {% for social in socials %}
            <a target="_blank" href="{{ social.link }}"><span class="ion ion-{{ social.icon }}"></span></a>
        {% empty %}
            nothing
        {% endfor %}
    </div>
    <div class="copy">© <script> document.write(new Date().getFullYear()) </script> Glitche. All rights reserved.</div>
    <div class="clr"></div>
</footer>

<!-- Lines -->
<div class="line top"></div>
<div class="line bottom"></div>
<div class="line left"></div>
<div class="line right"></div>