{% load static %}
{% load humanize %}
{% for message in latest_messages %}
    <li class="mb-2">
        <a class="dropdown-item border-radius-md" href="javascript:;">
            <div class="d-flex py-1">
                <div class="my-auto">
                    <img src="{% static 'dashboard/img/user.webp' %}" class="avatar avatar-sm  me-3 ">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">
                    <span class="font-weight-bold">New message</span> from {{ message.name }}
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                        <i class="fa fa-clock me-1"></i>
                        {{ message.created|naturaltime }}
                    </p>
                </div>
            </div>
        </a>
    </li>
{% empty %}
    <div class="dropdown-item border-radius-md">
        <div class="d-flex py-1">
            <div class="d-flex flex-column justify-content-center">
                <h6 class="text-sm font-weight-normal mb-1">
                    <span class="font-weight-bold">Empty</span>
                </h6>
            </div>
        </div>
    </div>
{% endfor %}