<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Message</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Subject</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for message in recent_messages %}
            <tr>
                <td>
                    <a href="{{ message.get_absolute_url }}">
                        <div class="d-flex px-2 ms-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{ message.name }}</h6>
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    {{ message.message|truncatechars:15 }}
                </td>
                <td class="align-middle text-center text-sm">
                    <span class="text-xs font-weight-bold">{{ message.subject }}</span>
                </td>
                <td class="align-middle text-center">
                    {{ message.email }}
                </td>
            </tr>
        {% empty %}
            <td>
                EMPTY
            </td>
        {% endfor %}
    </tbody>
</table>