{% extends 'dashboard/base.html' %}

{% block title %} | Message {{ message.name }} {% endblock %}

{% block content %}
<main class="main-content mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-8 d-flex flex-column mx-auto">
                        <div class="card card-plain bg-gradient-light">
                            <div class="card-header pb-0 text-center bg-transparent">
                                <h3 class="font-weight-bolder text-info text-gradient">{{message.name }}</h3>
                            </div>
                            <div class="card-body text-center">
                                <div class="bg-white rounded">
                                    <label>Subject</label>
                                    <div class="mb-1 pb-3">
                                        {{ message.subject }}
                                    </div>
                                </div>
                                <div class="bg-white rounded">
                                    <label>Email</label>
                                    <div class="mb-1 pb-3">
                                        {{ message.email }}
                                    </div>
                                </div>
                                <div class="bg-white rounded">
                                    <label>Message</label>
                                    <div class="mb-1 pb-3">
                                        {{ message.message }}
                                    </div>
                                </div>
                                <div class="bg-white rounded">
                                    <label>Received At</label>
                                    <div class="mb-1 pb-3">
                                        {{ message.created }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}